Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.svm import SVC
from sklearn.cross_validation import KFold

# use seaborn plotting defaults
import seaborn as sns; sns.set()

Read and pre-process data

In [2]:
df_titanic = pd.read_csv("train.csv", index_col="PassengerId")

df_titanic.Age.fillna(df_titanic.Age.median(), inplace=True)

df_titanic.loc[df_titanic["Sex"] == "male", "Sex"] = 0
df_titanic.loc[df_titanic["Sex"] == "female", "Sex"] = 1

df_titanic.Embarked.fillna("S", inplace=True)
df_titanic.loc[df_titanic["Embarked"] == "S", "Embarked"] = 0
df_titanic.loc[df_titanic["Embarked"] == "C", "Embarked"] = 1
df_titanic.loc[df_titanic["Embarked"] == "Q", "Embarked"] = 2

In [3]:
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0

In [6]:
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

In [7]:
for n, index in enumerate(predictors):
    df_titanic[index] = (df_titanic.loc[:, index] - df_titanic.loc[:, index].mean())/df_titanic.loc[:, index].std()

In [8]:
kf_passengers = KFold(df_titanic.shape[0], n_folds=4, random_state=1)

In [9]:
clf = SVC(kernel='linear')
predictions = []
for train, test in kf_passengers:
    train_predictors = (df_titanic[predictors].iloc[train, :])
    train_target = df_titanic["Survived"].iloc[train]
    clf.fit(train_predictors, train_target)
    test_predictions = clf.predict(df_titanic[predictors].iloc[test, :])
    predictions.append(test_predictions)
predictions = np.concatenate(predictions, axis=0)
accuracy = float((predictions == df_titanic.Survived).sum())/len(predictions)
print('Accuracy on the training set:', accuracy)

Accuracy on the training set: 0.7867564534231201

In [10]:
clf = SVC(kernel='poly', degree=3)
predictions = []
for train, test in kf_passengers:
    train_predictors = (df_titanic[predictors].iloc[train, :])
    train_target = df_titanic["Survived"].iloc[train]
    clf.fit(train_predictors, train_target)
    test_predictions = clf.predict(df_titanic[predictors].iloc[test, :])
    predictions.append(test_predictions)
predictions = np.concatenate(predictions, axis=0)
accuracy = float((predictions == df_titanic.Survived).sum())/len(predictions)
print('Accuracy on the training set:', accuracy)

Accuracy on the training set: 0.8237934904601572

In [11]:
clf = SVC(kernel='rbf')
predictions = []
for train, test in kf_passengers:
    train_predictors = (df_titanic[predictors].iloc[train, :])
    train_target = df_titanic["Survived"].iloc[train]
    clf.fit(train_predictors, train_target)
    test_predictions = clf.predict(df_titanic[predictors].iloc[test, :])
    predictions.append(test_predictions)
predictions = np.concatenate(predictions, axis=0)
accuracy = float((predictions == df_titanic.Survived).sum())/len(predictions)
print('Accuracy on the training set:', accuracy)

Accuracy on the training set: 0.8305274971941639

In [12]:
clf = SVC(kernel='sigmoid')
predictions = []
for train, test in kf_passengers:
    train_predictors = (df_titanic[predictors].iloc[train, :])
    train_target = df_titanic["Survived"].iloc[train]
    clf.fit(train_predictors, train_target)
    test_predictions = clf.predict(df_titanic[predictors].iloc[test, :])
    predictions.append(test_predictions)
predictions = np.concatenate(predictions, axis=0)
accuracy = float((predictions == df_titanic.Survived).sum())/len(predictions)
print('Accuracy on the training set:', accuracy)

Accuracy on the training set: 0.6161616161616161